<div id="404">
  <div class="container text-center">
    <h1 class="display-1 mb-3">404</h1>
    <hr/>
    <h2>Страница, которую вы ищете, не существует.</h2>
    <div class="help">
      <p>Думаю, вы видите это сообщение по ошибке?<br/><span class="mobile-spacer">&nbsp;</span>Пожалуйста <a href="/">попробуйте ещё раз.</a></p>
    </div>
  </div>
</div>
