<div id="faq">
  <div class="container">
    <h1>Тестовая задача</h1>
    <div class="q-and-a">
      <hr class="mt-4 mb-4"/>
      <h4>Постановка задачи</h4>
      <p>Необходимо реализовать программу в виде
        прикладного приложения, web-сайта или
        консольной программы.
        <br> Реализованная программа должна обеспечить
        обработку и хранение данных о студентах учебного учреждения.</p>

    </div>
    <div class="q-and-a">
      <hr class="mt-4 mb-4"/>

      <h4>Параметры записей</h4>
      <p>Каждая запись о студенте должна иметь следующие данные:</p>
      <ul>
        <li>Фамилия</li>
        <li>Имя</li>
        <li>Отчество</li>
        <li>Дата рождения</li>
        <li>Оценки по предметам (не менее пяти предметов)</li>
      </ul>

    </div>
    <div class="q-and-a">
      <hr class="mt-4 mb-4"/>
      <h4>Возможности программы</h4>
      <p>Программа обязана предоставить пользователю следующие возможности:</p>
      <ul>
        <li>Добавление, редактирование и удаление записи</li>
        <li>Вывод всех данных</li>
        <li>Сортировку по столбцам</li>
        <li>Поиск по значению</li>
      </ul>
    </div>
    <div class="q-and-a">
      <hr class="mt-4 mb-4"/>
      <h4>Требования</h4>
      <p>Все данные должны храниться в ПЗУ
        Быть автономной. Не требовать активного
        подключения к интернет. Для web-приложениЙ допустимо использовать локальный сервер.
      </p>
    </div>
    <div class="q-and-a">
      <hr class="mt-4 mb-4"/>
      <h4>Условия реализации</h4>
      <p>Языки программирования, средства и инструменты
        для реализации ничем не ограничены и выбираются
        на усмотрение разработчика. Допустимо
        использовать любые имеющиеся наработки,
        библиотеки, фреймворки.</p>
      <p>Все исходные и текстовые файлы должны быть в кодировке UTF-8.</p>
      <p>Любые неточности в постановки задачи решаются на усмотрения разработчика.</p>
    </div>
    <div class="q-and-a">
      <hr class="mt-4 mb-4"/>
      <h4>Условия задачи</h4>
      <p>Все результирующие файлы должны быть архивированы в *.ZIP архив.</p>
      <p>
        Дерево файлов должно иметь следующую структуру: <br>
        Папка source — все исходные коды программы,
        которые позволят скомилировать/собрать
        программу
      </p>
      <p>
        [Папка bin] — бинарные файлы и библиотеки, для
        запуска исполняемых файлов. При условии
        реализации на компилируемых языках. Под Linux
        запускаться будет на Debian.
        <br>Текстовый файл readme.txt — текстовый файл с
        описание программы.
        <br>
        Должен включать следующие разделы:
      </p>
      <ul>

        <li>Перечень всех языков, средств и инструментов,
          которые использовались при реализации. Если
          использовались сторонние библиотеки — ссылки
          на официальный0 сайт или репозиторий
        </li>

        <li>Инструкция по сборке проекта (если требуется)</li>

        <li>Инструкция по первому запуску (если требуется)</li>

        <li>Технические требования (если требуется)</li>

        <li>Ф.И.О., email, номер телефона. И любые другие контактные данные.</li>

      </ul>

    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
